.toastui-editor-dark .toastui-editor-md-container, .toastui-editor-dark .toastui-editor-ww-container {
  background-color: #26272d !important;
}
.toastui-editor-dark .toastui-editor-mode-switch {
  background-color: #26272d !important;
}
.toastui-editor-dark .toastui-editor-md-container, .toastui-editor-dark .toastui-editor-ww-container {
  background-color: #26272d !important;
}
.toastui-editor-dark .toastui-editor-mode-switch .tab-item.active {
  border-top-color: #393b42 !important;
  background-color: #1c1e23 !important;
}